body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(130deg, black, rgb(79, 77, 77));
}

.card{
    position: relative;
    width: 30rem;
    height: 35rem;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 10px;
    background-color: rgba(220, 20, 60, 0.407);
    left: 10%;
    text-align: center;
    transition: 0.5s;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}
a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: black;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    line-height: 25px;
    color: #fff;
    opacity: 0;
}
p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
    line-height: 25px;
    color: #fff;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 1s;

}

h3{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
    color: #fff;

}
.card:hover .content{
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;
}
.card:hover p,
.card:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}
