body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(130deg, black, rgb(79, 77, 77));
}

.container {
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    transition: all 0.5s;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25%;
    width: 100%;
    /* center the text inside it  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(154, 134, 134, 0.797);
    color: #fff;
    transition: all 0.5s;
    transform: translateY(100%);
}

h3{
    font-size: 30px;
    text-transform: uppercase;
}
.container:hover{
    cursor: pointer;
}
.container:hover .content{
    transform: translateY(0);
}
.container:hover img{
    transform: translateY(-14%);
}


